.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 20rem;
}
.cell{
    border: 1px solid grey;
    min-height: 2rem;
    min-width: 2rem;
    padding: 0.2rem 0;
    text-align: center;
}

.path {
  border: 1px solid grey;
  background-color: yellow;
  text-align: center;
}

.visited {
  border: 1px solid grey;
  background-color: white;
  min-height: 2rem;
  min-width: 2rem;
  padding: 0.2rem 0;
  text-align: center;
}


