.container {
  position: sticky;
  background-color: rgba(10, 13, 20, 0.9);
  width: 40rem;
  height: 20rem;
  margin: 10rem auto;
  color: white;
  display: grid;
}

.closeIcon {
  grid-row: 1;
  text-align: right;
}

.content {
  grid-row: 2;
  text-align: center;
}
